*.pyc
*.so
*.o
*.a
#*
.#*
*~
build
dist
*.egg-info
petram/trash
test
Makefile.local
mumps_solve/*
!mumps_solve/CMakeLists.txt
!mumps_solve/mumps_solve.cpp
!mumps_solve/mumps_solve.hpp
!mumps_solve/exported_symbols_list.txt
!mumps_solve/exported_version_script.txt
